div#wrap {
	max-width:640px;
	margin:auto;
	font-family:serif;
	padding:0;
}
header {
	background-color:black;
	color:white;
	text-align:left;
	padding:0;
	line-height:1;
	width:100%;
	border-radius:10px 10px 0 0;
}
header ul {
	display:inline-block;
	list-style-type:none;
	padding:10px;
	text-align:right;
}
header ul a {
	text-decoration:none;
}
header ul a:hover {
	background-color:white;
	color:black;
}
header hgroup {
	padding-left:10px;
	display:inline-block;
	font-size:1.5em;
}
h1 {
	margin:0;
}
nav {
	background-color:#eeeeee;
	color:white;
	text-align:right;
	float:left;
	padding:5px 0 0 0;
	height:98px;
	width:7%;
}
section {
	background-color:white;
	width:100%;
}
div#content {
	padding:2em;
}
footer {
	background-color:black;
	color:white;
	text-align:center;
	padding:0px;
	width:100%;
}
img {
	width:100%;
	height:auto;
}