<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body bgcolor=#eeeeee style="margin:auto">
<title>{{ page.title }}</title>

<div id="wrap">
<header>
<ul>
<li><a>ABT</a></li>
<li><a>BLG</a></li>
<li><a>PRJ</a></li>
<li><a>GTH</a></li>
<li><a>HLO</a></li>
</ul>
<hgroup>
<h1 style="font-variant:small-caps">Patrick Donabedian</h1>
Sample text here.
</hgroup>
</header>

<section>
<div id="content">
{{ content }}
</div>
</section>

<footer>
&Delta;&nabla;&Delta;&nabla;&Delta;&nabla;&Delta;&nabla;
&copy; PLD
&Delta;&nabla;&Delta;&nabla;&Delta;&nabla;&Delta;&nabla;
</footer>

</div id="wrap">
</body>
</html>